body
{
    color:blueviolet;
    text-align: center;
    font-weight: bolder;
    text-size-adjust: 200;
    background-image: url('d7ae0170d3d5ffcbaa7f02fdda387a3b.gif');
    background-attachment: fixed;
    background-size: 10;
    background-position: center;
    background-repeat: no-repeat;

}
